@model Person
@{ViewBag.Title = "Display Person";}

<table>
    <tr>
        <td>First Name:</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>@Model.Desc</td>
    </tr>
</table>